.containerNavbar {
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: flex-end;
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.containerSubMenu {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
