.container {
  display: grid;
  height: 90vh;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1.5fr 0.2fr;
  grid-template-areas:
    'navbar navbar navbar '
    'navigation  content content '
    'navigation artikel1 artikel2 '
    'footer footer footer ';
  grid-gap: 2px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 20px 20px;
}
navbar {
  background-color: #a2d2ff;
  grid-area: navbar;
  border-radius: 5px;
  padding-top: 5px;
}
#navigation {
  background-color: #a03c78;
  grid-area: navigation;
  border-radius: 5px;
  padding-top: 5px;
}
#content {
  background-color: #ff2442;
  grid-area: content;
  border-radius: 5px;
  padding-top: 5px;
}
#artikel1 {
  background-color: #28ffbf;
  grid-area: artikel1;
  border-radius: 5px;
  padding-top: 5px;
}
#artikel2 {
  background-color: #bcffb9;
  grid-area: artikel2;
  border-radius: 5px;
  padding-top: 5px;
}
footer {
  background-color: #fee440;
  grid-area: footer;
  border-radius: 5px;
  padding-top: 5px;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 1.5fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas:
      'navbar navbar'
      'content navigation'
      'artikel1 navigation'
      'artikel2 navigation'
      'footer footer';
  }
}
@media only screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 1.5fr 1fr 0.2fr;
    grid-template-areas:
      'navbar navbar '
      'navigation navigation'
      'content content'
      'artikel1 artikel2 '
      'footer footer ';
  }
}
